In [21]:
import pandas as pd
import os

# Load Parquet data
df = pd.read_parquet('test_stock_data.parquet')
# Check DataFrame info
print(df.info())
# Reset index to move 'date' from index to a column
df = df.reset_index()
# Now you can see 'date' as a regular column
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
Index: 7500000 entries, 2016-03-03 to 2025-10-01
Data columns (total 6 columns):
 #   Column  Dtype
---  ------  -----
 0   symbol  object
 1   open    float64
 2   high    float64
 3   low     float64
 4   close   float64
 5   volume  float64
dtypes: float64(5), object(1)
memory usage: 400.5+ MB
None
Index(['date', 'symbol', 'open', 'high', 'low', 'close', 'volume'], dtype='object')

In [23]:
# # Convert 'date' column to datetime, if necessary
# df['date'] = pd.to_datetime(df['date'])

# Group by year
dfs_by_year = {year: group for year, group in df.groupby(df['date'].dt.year)}

# Check how many years and data you have in each
print(f"Total years: {len(dfs_by_year)}")
for year in sorted(dfs_by_year.keys()):
    print(f"Year: {year}, Records: {len(dfs_by_year[year])}")

Total years: 10
Year: 2016, Records: 651000
Year: 2017, Records: 780000
Year: 2018, Records: 783000
Year: 2019, Records: 783000
Year: 2020, Records: 786000
Year: 2021, Records: 783000
Year: 2022, Records: 780000
Year: 2023, Records: 780000
Year: 2024, Records: 786000
Year: 2025, Records: 588000

In [20]:
#SQL Load

In [17]:
from sqlalchemy import create_engine, text

# Connect to PostgreSQL
engine = create_engine('postgresql+psycopg2://postgres:root@localhost/nse_data')

# Create tables: symbols and daily_data with proper data types and primary key
create_table_sql = '''
CREATE TABLE IF NOT EXISTS symbols (
    symbol VARCHAR(20) PRIMARY KEY
);

CREATE TABLE IF NOT EXISTS daily_data (
    date DATE NOT NULL,
    symbol VARCHAR(20) NOT NULL,
    open FLOAT,
    high FLOAT,
    low FLOAT,
    close FLOAT,
    volume BIGINT,
    CONSTRAINT fk_symbol FOREIGN KEY(symbol) REFERENCES symbols(symbol)
);

CREATE INDEX IF NOT EXISTS idx_symbol ON daily_data(symbol);
CREATE INDEX IF NOT EXISTS idx_date ON daily_data(date);
'''

# Schema creation queries
with engine.connect() as conn:
    conn.execute(text(create_table_sql))
    conn.commit()

# Insert unique symbols into symbols table first
symbols = df['symbol'].unique()
symbols_df = pd.DataFrame(symbols, columns=['symbol'])
symbols_df.to_sql('symbols', engine, if_exists='append', index=False)

# Insert year-wise data into daily_data table
for year, df_year in dfs_by_year.items():
    df_year['volume'] = df_year['volume'].astype('int64')
    df_year.to_sql('daily_data', engine, if_exists='append', index=False)
    print(f"Inserted data for year {year}")

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "symbols_pkey"
DETAIL:  Key (symbol)=(stock_1) already exists.

[SQL: INSERT INTO symbols (symbol) VALUES (%(symbol__0)s), (%(symbol__1)s), (%(symbol__2)s), (%(symbol__3)s), (%(symbol__4)s), (%(symbol__5)s), (%(symbol__6)s), (%(symbol__7)s), (%(symbol__8)s), (%(symbol__9)s), (%(symbol__10)s), (%(symbol__11)s), (%(symbo ... 18574 characters truncated ... 94)s), (%(symbol__995)s), (%(symbol__996)s), (%(symbol__997)s), (%(symbol__998)s), (%(symbol__999)s)]
[parameters: {'symbol__0': 'stock_1', 'symbol__1': 'stock_2', 'symbol__2': 'stock_3', 'symbol__3': 'stock_4', 'symbol__4': 'stock_5', 'symbol__5': 'stock_6', 'symbol__6': 'stock_7', 'symbol__7': 'stock_8', 'symbol__8': 'stock_9', 'symbol__9': 'stock_10', 'symbol__10': 'stock_11', 'symbol__11': 'stock_12', 'symbol__12': 'stock_13', 'symbol__13': 'stock_14', 'symbol__14': 'stock_15', 'symbol__15': 'stock_16', 'symbol__16': 'stock_17', 'symbol__17': 'stock_18', 'symbol__18': 'stock_19', 'symbol__19': 'stock_20', 'symbol__20': 'stock_21', 'symbol__21': 'stock_22', 'symbol__22': 'stock_23', 'symbol__23': 'stock_24', 'symbol__24': 'stock_25', 'symbol__25': 'stock_26', 'symbol__26': 'stock_27', 'symbol__27': 'stock_28', 'symbol__28': 'stock_29', 'symbol__29': 'stock_30', 'symbol__30': 'stock_31', 'symbol__31': 'stock_32', 'symbol__32': 'stock_33', 'symbol__33': 'stock_34', 'symbol__34': 'stock_35', 'symbol__35': 'stock_36', 'symbol__36': 'stock_37', 'symbol__37': 'stock_38', 'symbol__38': 'stock_39', 'symbol__39': 'stock_40', 'symbol__40': 'stock_41', 'symbol__41': 'stock_42', 'symbol__42': 'stock_43', 'symbol__43': 'stock_44', 'symbol__44': 'stock_45', 'symbol__45': 'stock_46', 'symbol__46': 'stock_47', 'symbol__47': 'stock_48', 'symbol__48': 'stock_49', 'symbol__49': 'stock_50' ... 900 parameters truncated ... 'symbol__950': 'stock_951', 'symbol__951': 'stock_952', 'symbol__952': 'stock_953', 'symbol__953': 'stock_954', 'symbol__954': 'stock_955', 'symbol__955': 'stock_956', 'symbol__956': 'stock_957', 'symbol__957': 'stock_958', 'symbol__958': 'stock_959', 'symbol__959': 'stock_960', 'symbol__960': 'stock_961', 'symbol__961': 'stock_962', 'symbol__962': 'stock_963', 'symbol__963': 'stock_964', 'symbol__964': 'stock_965', 'symbol__965': 'stock_966', 'symbol__966': 'stock_967', 'symbol__967': 'stock_968', 'symbol__968': 'stock_969', 'symbol__969': 'stock_970', 'symbol__970': 'stock_971', 'symbol__971': 'stock_972', 'symbol__972': 'stock_973', 'symbol__973': 'stock_974', 'symbol__974': 'stock_975', 'symbol__975': 'stock_976', 'symbol__976': 'stock_977', 'symbol__977': 'stock_978', 'symbol__978': 'stock_979', 'symbol__979': 'stock_980', 'symbol__980': 'stock_981', 'symbol__981': 'stock_982', 'symbol__982': 'stock_983', 'symbol__983': 'stock_984', 'symbol__984': 'stock_985', 'symbol__985': 'stock_986', 'symbol__986': 'stock_987', 'symbol__987': 'stock_988', 'symbol__988': 'stock_989', 'symbol__989': 'stock_990', 'symbol__990': 'stock_991', 'symbol__991': 'stock_992', 'symbol__992': 'stock_993', 'symbol__993': 'stock_994', 'symbol__994': 'stock_995', 'symbol__995': 'stock_996', 'symbol__996': 'stock_997', 'symbol__997': 'stock_998', 'symbol__998': 'stock_999', 'symbol__999': 'stock_1000'}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)